<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10020 WINDSWEPT LN COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.257469915999998</real>
		<key>long</key>
		<real>-84.585927561999895</real>
	</dict>
	<key>10067 CHESTER RD WOODLAWN OH</key>
	<dict>
		<key>lat</key>
		<real>39.248181000000002</real>
		<key>long</key>
		<real>-84.461438000000001</real>
	</dict>
	<key>1047 THUNDERBIRD DR SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.220442151284402</real>
		<key>long</key>
		<real>-84.523932161218198</real>
	</dict>
	<key>1052 REGINA AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.111600362466902</real>
		<key>long</key>
		<real>-84.579407909638206</real>
	</dict>
	<key>1125 CHURCH AVE GLENDALE OH</key>
	<dict>
		<key>lat</key>
		<real>39.2762346314233</real>
		<key>long</key>
		<real>-84.470677983676495</real>
	</dict>
	<key>1125 FRANKLIN AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>0.0</real>
		<key>long</key>
		<real>0.0</real>
	</dict>
	<key>1142 CARNEY ST CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.1090356308898</real>
		<key>long</key>
		<real>-84.495010703895204</real>
	</dict>
	<key>1172 HOLLYWOOD AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.208085012000097</real>
		<key>long</key>
		<real>-84.534204289999906</real>
	</dict>
	<key>122 RIDGEWAY RD SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.209552872000103</real>
		<key>long</key>
		<real>-84.480093259999904</real>
	</dict>
	<key>1298 RUTLEDGE AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.116642838000097</real>
		<key>long</key>
		<real>-84.587040391999906</real>
	</dict>
	<key>1345 W KEMPER RD FOREST PARK OH</key>
	<dict>
		<key>lat</key>
		<real>39.289498542074199</real>
		<key>long</key>
		<real>-84.532099467577893</real>
	</dict>
	<key>135 GROVE RD WOODLAWN OH</key>
	<dict>
		<key>lat</key>
		<real>39.247818107469797</real>
		<key>long</key>
		<real>-84.477247225021202</real>
	</dict>
	<key>1441 MARLOWE AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>41.484220239088479</real>
		<key>long</key>
		<real>-81.795421541692477</real>
	</dict>
	<key>1531 AMBROSE AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.200674773921797</real>
		<key>long</key>
		<real>-84.545255085698997</real>
	</dict>
	<key>1600 CLIO AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.082287808885503</real>
		<key>long</key>
		<real>-84.388100637165394</real>
	</dict>
	<key>164 DORSEY ST CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.117121210999997</real>
		<key>long</key>
		<real>-84.512334890999895</real>
	</dict>
	<key>1711 CENTERRIDGE AVE N C H OH</key>
	<dict>
		<key>lat</key>
		<real>39.2244226262033</real>
		<key>long</key>
		<real>-84.554619813981702</real>
	</dict>
	<key>1757 PATRICK DR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.119107980698899</real>
		<key>long</key>
		<real>-84.560622298251801</real>
	</dict>
	<key>1807 DREMAN AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.1532136001777</real>
		<key>long</key>
		<real>-84.549000985359697</real>
	</dict>
	<key>1818 SUNDALE AVE N C H OH</key>
	<dict>
		<key>lat</key>
		<real>39.214207397000102</real>
		<key>long</key>
		<real>-84.555356818999897</real>
	</dict>
	<key>1929 DANA AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.145775090797997</real>
		<key>long</key>
		<real>-84.464597334187403</real>
	</dict>
	<key>1948 MAPLE AVE NORWOOD OH</key>
	<dict>
		<key>lat</key>
		<real>39.163671143999998</real>
		<key>long</key>
		<real>-84.4615475129999</real>
	</dict>
	<key>2226 LANGDON FARM RD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.182490211000101</real>
		<key>long</key>
		<real>-84.451756074999906</real>
	</dict>
	<key>2272 LOTH ST CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.122445807727999</real>
		<key>long</key>
		<real>-84.5136893297787</real>
	</dict>
	<key>2329 ROXANNA DR SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.246964932335899</real>
		<key>long</key>
		<real>-84.564137528398803</real>
	</dict>
	<key>2354 WOODBLUFF CT SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.240144095000097</real>
		<key>long</key>
		<real>-84.566437076999904</real>
	</dict>
	<key>2411 HOMESTEAD PL CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.130005418000103</real>
		<key>long</key>
		<real>-84.573634582999901</real>
	</dict>
	<key>2529 ROOSEVELT AVE COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.273557459000102</real>
		<key>long</key>
		<real>-84.569730781999894</real>
	</dict>
	<key>2540 HIGHWOOD LN COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.207382207772802</real>
		<key>long</key>
		<real>-84.574305298042006</real>
	</dict>
	<key>2623 PIPPIN CT COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.255748534317497</real>
		<key>long</key>
		<real>-84.572526779155694</real>
	</dict>
	<key>2661 WHEATFIELD DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.2527119554425</real>
		<key>long</key>
		<real>-84.573548815320294</real>
	</dict>
	<key>2738 MADISON RD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.146507293626797</real>
		<key>long</key>
		<real>-84.441053750622103</real>
	</dict>
	<key>2989 SOVEREIGN DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.2275018536278</real>
		<key>long</key>
		<real>-84.581338221107899</real>
	</dict>
	<key>3045 WESTWOOD NORTHERN BLVD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.158951556769097</real>
		<key>long</key>
		<real>-84.597920204818294</real>
	</dict>
	<key>3118 SOVEREIGN DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.228135338000101</real>
		<key>long</key>
		<real>-84.583523646999893</real>
	</dict>
	<key>312 DON LN DELHI TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.090461835545398</real>
		<key>long</key>
		<real>-84.604272369194504</real>
	</dict>
	<key>3142 LAPLAND DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.207400374000102</real>
		<key>long</key>
		<real>-84.587126977999901</real>
	</dict>
	<key>3237 STANHOPE AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.145184134590302</real>
		<key>long</key>
		<real>-84.614883456700895</real>
	</dict>
	<key>3287 WEMYSS DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.306531783015501</real>
		<key>long</key>
		<real>-84.583189716029196</real>
	</dict>
	<key>3325 HARVEY AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.140526636000097</real>
		<key>long</key>
		<real>-84.498552384999897</real>
	</dict>
	<key>3326 GLENWAY AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.113695370000102</real>
		<key>long</key>
		<real>-84.565243241999994</real>
	</dict>
	<key>3560 EDEN AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.147600240608803</real>
		<key>long</key>
		<real>-84.503355558929599</real>
	</dict>
	<key>3617 ARCHER AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.1280296124269</real>
		<key>long</key>
		<real>-84.413840540895194</real>
	</dict>
	<key>3623 NORTHDALE PL CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.181552162802198</real>
		<key>long</key>
		<real>-84.413361419335601</real>
	</dict>
	<key>3624 WESTWOOD NORTHERN BLVD #47 CHEVIOT OH</key>
	<dict>
		<key>lat</key>
		<real>39.165293472000101</real>
		<key>long</key>
		<real>-84.607706354999905</real>
	</dict>
	<key>3735 ODIN AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.187352582000102</real>
		<key>long</key>
		<real>-84.408436636999895</real>
	</dict>
	<key>3810 WOODBINE AVE CHEVIOT OH</key>
	<dict>
		<key>lat</key>
		<real>39.159087316000097</real>
		<key>long</key>
		<real>-84.612844513999903</real>
	</dict>
	<key>4011 ROWAN HILL DR MARIEMONT OH</key>
	<dict>
		<key>lat</key>
		<real>39.148094758916201</real>
		<key>long</key>
		<real>-84.372178214540796</real>
	</dict>
	<key>4243 LANGLEY AVE ST BERNARD OH</key>
	<dict>
		<key>lat</key>
		<real>39.162120744277097</real>
		<key>long</key>
		<real>-84.494818657324799</real>
	</dict>
	<key>4280 DEFENDER DR #207 COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.253983358000099</real>
		<key>long</key>
		<real>-84.608709270999896</real>
	</dict>
	<key>4314 SIMPSON AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.152080569063102</real>
		<key>long</key>
		<real>-84.389805913196597</real>
	</dict>
	<key>432 HILLCREST AVE WYOMING OH</key>
	<dict>
		<key>lat</key>
		<real>39.234160869328797</real>
		<key>long</key>
		<real>-84.483834666606199</real>
	</dict>
	<key>4603 CRESAP AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.173157316607004</real>
		<key>long</key>
		<real>-84.549177942446406</real>
	</dict>
	<key>4707 WINONA TERR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.156739802000097</real>
		<key>long</key>
		<real>-84.387663000999893</real>
	</dict>
	<key>5130 GRAFTON AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.178535010000097</real>
		<key>long</key>
		<real>-84.461362588999904</real>
	</dict>
	<key>5206 HIGHVIEW DR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.115720324999998</real>
		<key>long</key>
		<real>-84.611164482999897</real>
	</dict>
	<key>5289 PONDEROSA DR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>40.078863144957552</real>
		<key>long</key>
		<real>-82.938579475962868</real>
	</dict>
	<key>5572 DICKENS DR SHARONVILLE OH</key>
	<dict>
		<key>lat</key>
		<real>39.292514230597398</real>
		<key>long</key>
		<real>-84.377338774934302</real>
	</dict>
	<key>5755 WINDSORHILL DR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.1362502248681</real>
		<key>long</key>
		<real>-84.612679410469099</real>
	</dict>
	<key>5770 GLENWAY AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.1362785580001</real>
		<key>long</key>
		<real>-84.613498042999893</real>
	</dict>
	<key>5980 COLERAIN AVE #31 GREEN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.203447248000103</real>
		<key>long</key>
		<real>-84.5798005259999</real>
	</dict>
	<key>6004 BENDER RD DELHI TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.104570585963899</real>
		<key>long</key>
		<real>-84.649936577199099</real>
	</dict>
	<key>6008 WIEHE RD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.182663190000099</real>
		<key>long</key>
		<real>-84.452574240999894</real>
	</dict>
	<key>6012 WIEHE RD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.182874636000101</real>
		<key>long</key>
		<real>-84.452624224999894</real>
	</dict>
	<key>6035 HEIS TERR CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.081275175000101</real>
		<key>long</key>
		<real>-84.393798450999896</real>
	</dict>
	<key>6412 TAYLOR RD GREEN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.159939055000102</real>
		<key>long</key>
		<real>-84.659741664999899</real>
	</dict>
	<key>6868 EDMAR CT SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.208254843000098</real>
		<key>long</key>
		<real>-84.567253679999894</real>
	</dict>
	<key>713 WALNUT ST MT HEALTHY OH</key>
	<dict>
		<key>lat</key>
		<real>46.864767487642872</real>
		<key>long</key>
		<real>-114.00832374715604</real>
	</dict>
	<key>7313 MAPLE AVE MT HEALTHY OH</key>
	<dict>
		<key>lat</key>
		<real>39.228145062694601</real>
		<key>long</key>
		<real>-84.553664906045597</real>
	</dict>
	<key>7323 ESTATE CT SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.208701563576398</real>
		<key>long</key>
		<real>-84.512990494718593</real>
	</dict>
	<key>7367 WERNER AVE MT HEALTHY OH</key>
	<dict>
		<key>lat</key>
		<real>39.229943300000102</real>
		<key>long</key>
		<real>-84.552380922999902</real>
	</dict>
	<key>8013 STILLWELL RD CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.208650446561101</real>
		<key>long</key>
		<real>-84.456640689089198</real>
	</dict>
	<key>8130 THICKET LN ANDERSON TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.085218508777302</real>
		<key>long</key>
		<real>-84.330441820180198</real>
	</dict>
	<key>8410 ST CLAIR AVE SYCAMORE TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.211151712082</real>
		<key>long</key>
		<real>-84.387033663383605</real>
	</dict>
	<key>8729 SARAHS BEND DR COLERAIN TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.229627000000001</real>
		<key>long</key>
		<real>-84.581163000000004</real>
	</dict>
	<key>8883 CABOT DR SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.229010104383001</real>
		<key>long</key>
		<real>-84.532663374800705</real>
	</dict>
	<key>905 BELSAGE CT SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.240594955592897</real>
		<key>long</key>
		<real>-84.514757194867002</real>
	</dict>
	<key>9270 RANCHILL DR SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.238234389006003</real>
		<key>long</key>
		<real>-84.561849883637194</real>
	</dict>
	<key>9313 MEADOWGLEN DR SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.234952542975599</real>
		<key>long</key>
		<real>-84.524832844415897</real>
	</dict>
	<key>940 FISCHER LN SPRINGFIELD TWSP OH</key>
	<dict>
		<key>lat</key>
		<real>39.238113788000099</real>
		<key>long</key>
		<real>-84.518632168999901</real>
	</dict>
	<key>962 KEMPER MEADOW DR FOREST PARK OH</key>
	<dict>
		<key>lat</key>
		<real>39.295050646</real>
		<key>long</key>
		<real>-84.515377175999902</real>
	</dict>
	<key>966 DELHI AVE CINTI OH</key>
	<dict>
		<key>lat</key>
		<real>39.094989299000098</real>
		<key>long</key>
		<real>-84.576041584999899</real>
	</dict>
	<key>970 HARKIN DR FOREST PARK OH</key>
	<dict>
		<key>lat</key>
		<real>39.291167238000099</real>
		<key>long</key>
		<real>-84.514288111999903</real>
	</dict>
</dict>
</plist>
