<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<string>2540 HIGHWOOD LN</string>
		<key>Appraisal</key>
		<string>$63,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1302987</string>
		<key>MinBid</key>
		<string>$42,000</string>
		<key>Name</key>
		<string>BATTLE, CHARLES</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>164 DORSEY ST</string>
		<key>Appraisal</key>
		<string>$78,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1104080</string>
		<key>MinBid</key>
		<string>$52,000</string>
		<key>Name</key>
		<string>BAWTENHEIMER, KATHERINE</string>
		<key>Plaintiff</key>
		<string>PNC BANK N A</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2623 PIPPIN CT</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>LAURITO &amp; LAURITO</string>
		<key>AttyPhone</key>
		<string>937-743-4878</string>
		<key>CaseNO</key>
		<string>A1200437</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>BERING, JULIE</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2226 LANGDON FARM RD</string>
		<key>Appraisal</key>
		<string>$9,000</string>
		<key>AttyName</key>
		<string>ROBBINS KELLY PATTERSON &amp;</string>
		<key>AttyPhone</key>
		<string>721-3330</string>
		<key>CaseNO</key>
		<string>A1303387</string>
		<key>MinBid</key>
		<string>$6,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>ROBERT A. GOERING, TREASURER HAMILTON CO. OHIO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6008 WIEHE RD</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>ROBBINS KELLY PATTERSON &amp;</string>
		<key>AttyPhone</key>
		<string>721-3330</string>
		<key>CaseNO</key>
		<string>A1303387</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>ROBERT A. GOERING, TREASURER HAMILTON CO. OHIO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6012 WIEHE RD</string>
		<key>Appraisal</key>
		<string>$48,000</string>
		<key>AttyName</key>
		<string>ROBBINS KELLY PATTERSON &amp;</string>
		<key>AttyPhone</key>
		<string>721-3330</string>
		<key>CaseNO</key>
		<string>A1303387</string>
		<key>MinBid</key>
		<string>$32,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>ROBERT A. GOERING, TREASURER HAMILTON CO. OHIO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>8883 CABOT DR</string>
		<key>Appraisal</key>
		<string>$36,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A0809875</string>
		<key>MinBid</key>
		<string>$24,000</string>
		<key>Name</key>
		<string>BEST, TERESA</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5980 COLERAIN AVE #31</string>
		<key>Appraisal</key>
		<string>$36,000</string>
		<key>AttyName</key>
		<string>FINNEY STAGNARO SABA</string>
		<key>AttyPhone</key>
		<string>533-2705</string>
		<key>CaseNO</key>
		<string>A1301375</string>
		<key>MinBid</key>
		<string>$24,000</string>
		<key>Name</key>
		<string>BLEVINS, TROY</string>
		<key>Plaintiff</key>
		<string>HIDDEN LAGOON CONDOMINIUM ASSOC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>GREEN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1600 CLIO AVE</string>
		<key>Appraisal</key>
		<string>$114,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1302838</string>
		<key>MinBid</key>
		<string>$76,000</string>
		<key>Name</key>
		<string>BRANDSTETTER, KAREN</string>
		<key>Plaintiff</key>
		<string>BENEFICIAL FINANCIAL I</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6412 TAYLOR RD</string>
		<key>Appraisal</key>
		<string>$15,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1004073</string>
		<key>MinBid</key>
		<string>$10,000</string>
		<key>Name</key>
		<string>BRUCE, DANE</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>GREEN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4243 LANGLEY AVE</string>
		<key>Appraisal</key>
		<string>$84,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1205161</string>
		<key>MinBid</key>
		<string>$56,000</string>
		<key>Name</key>
		<string>BURTON, WILLIAM</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>ST BERNARD</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>122 RIDGEWAY RD</string>
		<key>Appraisal</key>
		<string>$48,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1304860</string>
		<key>MinBid</key>
		<string>$32,000</string>
		<key>Name</key>
		<string>CAUDILL, KELLIE</string>
		<key>Plaintiff</key>
		<string>CITIMORTGAGE</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4314 SIMPSON AVE</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1205510</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>CECIL, EMMANUEL</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3735 ODIN AVE</string>
		<key>Appraisal</key>
		<string>$33,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1306777</string>
		<key>MinBid</key>
		<string>$22,000</string>
		<key>Name</key>
		<string>CHAMBERS, RENAY</string>
		<key>Plaintiff</key>
		<string>FIFTH THIRD MORTGAGE COMPANY</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3325 HARVEY AVE</string>
		<key>Appraisal</key>
		<string>$48,000</string>
		<key>AttyName</key>
		<string>GERNER &amp; KEARNS</string>
		<key>AttyPhone</key>
		<string>241-7722</string>
		<key>CaseNO</key>
		<string>A1305980</string>
		<key>MinBid</key>
		<string>$32,000</string>
		<key>Name</key>
		<string>CHAMPION, KACIE</string>
		<key>Plaintiff</key>
		<string>HOME OPPORTUNITY LLC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3326 GLENWAY AVE</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1304179</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string>CHRISTOPHER, MICHELLE</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1757 PATRICK DR</string>
		<key>Appraisal</key>
		<string>$39,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1208418</string>
		<key>MinBid</key>
		<string>$26,000</string>
		<key>Name</key>
		<string>CIAMPONE, LAURENCE</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>7313 MAPLE AVE</string>
		<key>Appraisal</key>
		<string>$57,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1306638</string>
		<key>MinBid</key>
		<string>$38,000</string>
		<key>Name</key>
		<string>CLINE, KATHERINE</string>
		<key>Plaintiff</key>
		<string>HSBC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>MT HEALTHY</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1142 CARNEY ST</string>
		<key>Appraisal</key>
		<string>$231,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1303482</string>
		<key>MinBid</key>
		<string>$154,000</string>
		<key>Name</key>
		<string>COHEN, MARY</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6868 EDMAR CT</string>
		<key>Appraisal</key>
		<string>$78,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1206659</string>
		<key>MinBid</key>
		<string>$52,000</string>
		<key>Name</key>
		<string>COLLINS, DONNA</string>
		<key>Plaintiff</key>
		<string>DEUTSCHE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5755 WINDSORHILL DR</string>
		<key>Appraisal</key>
		<string>$60,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1303965</string>
		<key>MinBid</key>
		<string>$40,000</string>
		<key>Name</key>
		<string>COLLINSWORTH, JEANNETTE</string>
		<key>Plaintiff</key>
		<string>GREEN TREE SERVICING</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>9313 MEADOWGLEN DR</string>
		<key>Appraisal</key>
		<string>$42,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1208382</string>
		<key>MinBid</key>
		<string>$28,000</string>
		<key>Name</key>
		<string>CUNNINGHAM, REBECCA</string>
		<key>Plaintiff</key>
		<string>GUARDIAN  SAVINGS BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2354 WOODBLUFF CT</string>
		<key>Appraisal</key>
		<string>$105,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1304280</string>
		<key>MinBid</key>
		<string>$70,000</string>
		<key>Name</key>
		<string>DEVOND, ANTONIO</string>
		<key>Plaintiff</key>
		<string>CITIMORTGAGE</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3617 ARCHER AVE</string>
		<key>Appraisal</key>
		<string>$90,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1306300</string>
		<key>MinBid</key>
		<string>$60,000</string>
		<key>Name</key>
		<string>DOLL, JUDITH</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2661 WHEATFIELD DR</string>
		<key>Appraisal</key>
		<string>$60,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1305176</string>
		<key>MinBid</key>
		<string>$40,000</string>
		<key>Name</key>
		<string>DUNKLIN, LELA</string>
		<key>Plaintiff</key>
		<string>NATIONSTAR MORTGAGE LLC
NATIONSTAR MORTGAGE LLC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3287 WEMYSS DR</string>
		<key>Appraisal</key>
		<string>$210,000</string>
		<key>AttyName</key>
		<string>CARLISLE  McNELLIE RINI</string>
		<key>AttyPhone</key>
		<string>216-360-7200</string>
		<key>CaseNO</key>
		<string>A1206102</string>
		<key>MinBid</key>
		<string>$140,000</string>
		<key>Name</key>
		<string>EDWARDS, RODNEY</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>432 HILLCREST AVE</string>
		<key>Appraisal</key>
		<string>$189,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1208564</string>
		<key>MinBid</key>
		<string>$126,000</string>
		<key>Name</key>
		<string>ELLIOTT, CAROL</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>WYOMING</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5289 PONDEROSA DR</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1305369</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>FISHER, LISA</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>312 DON LN</string>
		<key>Appraisal</key>
		<string>$75,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1301316</string>
		<key>MinBid</key>
		<string>$50,000</string>
		<key>Name</key>
		<string>FREY, JAMES</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>DELHI TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>7367 WERNER AVE</string>
		<key>Appraisal</key>
		<string>$57,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1209879</string>
		<key>MinBid</key>
		<string>$38,000</string>
		<key>Name</key>
		<string>GARVEY, ADAM</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>MT HEALTHY</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1807 DREMAN AVE</string>
		<key>Appraisal</key>
		<string>$18,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1303339</string>
		<key>MinBid</key>
		<string>$12,000</string>
		<key>Name</key>
		<string>GRAU, STEVEN</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>8130 THICKET LN</string>
		<key>Appraisal</key>
		<string>$198,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1207994</string>
		<key>MinBid</key>
		<string>$132,000</string>
		<key>Name</key>
		<string>HANSON, ROBERT</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>ANDERSON TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5770 GLENWAY AVE</string>
		<key>Appraisal</key>
		<string>$51,000</string>
		<key>AttyName</key>
		<string>GERNER &amp; KEARNS</string>
		<key>AttyPhone</key>
		<string>241-7722</string>
		<key>CaseNO</key>
		<string>A1305878</string>
		<key>MinBid</key>
		<string>$34,000</string>
		<key>Name</key>
		<string>HARRELL, KATHY</string>
		<key>Plaintiff</key>
		<string>JC GEMINI III</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1948 MAPLE AVE</string>
		<key>Appraisal</key>
		<string>$36,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1205231</string>
		<key>MinBid</key>
		<string>$24,000</string>
		<key>Name</key>
		<string>HENDRSON, LAUREL</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>NORWOOD</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>10067 CHESTER RD</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1302936</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>HILL, HYACINTH</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>WOODLAWN</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2989 SOVEREIGN DR</string>
		<key>Appraisal</key>
		<string>$126,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1010032</string>
		<key>MinBid</key>
		<string>$84,000</string>
		<key>Name</key>
		<string>HILLARD, HERMAN</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3624 WESTWOOD NORTHERN BLVD #47</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1208264</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string>HINES, CHRISOPHER</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CHEVIOT</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4280 DEFENDER DR #207</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1204612</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>HODSON, JEFF</string>
		<key>Plaintiff</key>
		<string>THE YACHT CLUB COURTYARD HOME CONDOMINIUM ASSOC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1441 MARLOWE AVE</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1306397</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>HORTON, STEVEN</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1052 REGINA AVE</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1305860</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>HUGHES, RAYMOND</string>
		<key>Plaintiff</key>
		<string>CITIMORTGAGE</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3810 WOODBINE AVE</string>
		<key>Appraisal</key>
		<string>$108,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1303753</string>
		<key>MinBid</key>
		<string>$72,000</string>
		<key>Name</key>
		<string>JELEN, VICTOR</string>
		<key>Plaintiff</key>
		<string>GREEN TREE SERVICING</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CHEVIOT</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2329 ROXANNA DR</string>
		<key>Appraisal</key>
		<string>$63,000</string>
		<key>AttyName</key>
		<string>REISENFELD &amp; ASSOC</string>
		<key>AttyPhone</key>
		<string>322-7000</string>
		<key>CaseNO</key>
		<string>A1207539</string>
		<key>MinBid</key>
		<string>$42,000</string>
		<key>Name</key>
		<string>JOHNSON, MONICA</string>
		<key>Plaintiff</key>
		<string>HSBC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5206 HIGHVIEW DR</string>
		<key>Appraisal</key>
		<string>$63,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1203545</string>
		<key>MinBid</key>
		<string>$42,000</string>
		<key>Name</key>
		<string>KELLER, DAVID</string>
		<key>Plaintiff</key>
		<string>BANK OF NY MELLON</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>905 BELSAGE CT</string>
		<key>Appraisal</key>
		<string>$105,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1304637</string>
		<key>MinBid</key>
		<string>$70,000</string>
		<key>Name</key>
		<string>KIDD, JAMES</string>
		<key>Plaintiff</key>
		<string>GMAC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1818 SUNDALE AVE</string>
		<key>Appraisal</key>
		<string>$54,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1303697</string>
		<key>MinBid</key>
		<string>$36,000</string>
		<key>Name</key>
		<string>LEMOINE, KAREN</string>
		<key>Plaintiff</key>
		<string>FIFTH THIRD MORTGAGE COMPANY</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>N C H</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3142 LAPLAND DR</string>
		<key>Appraisal</key>
		<string>$39,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1303882</string>
		<key>MinBid</key>
		<string>$26,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5572 DICKENS DR</string>
		<key>Appraisal</key>
		<string>$84,000</string>
		<key>AttyName</key>
		<string>CUNI FERGUSON &amp; LEVAY</string>
		<key>AttyPhone</key>
		<string>771-6768</string>
		<key>CaseNO</key>
		<string>A1303554</string>
		<key>MinBid</key>
		<string>$56,000</string>
		<key>Name</key>
		<string>MARCOTTE III, GERALD</string>
		<key>Plaintiff</key>
		<string>COPPERFIELD HOMEOWNERS ASSOC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SHARONVILLE</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>8410 ST CLAIR AVE</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1207116</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>MARCUM, HAROLD</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SYCAMORE TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1929 DANA AVE</string>
		<key>Appraisal</key>
		<string>$18,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1207778</string>
		<key>MinBid</key>
		<string>$12,000</string>
		<key>Name</key>
		<string>MAY, DALE</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>10020 WINDSWEPT LN</string>
		<key>Appraisal</key>
		<string>$69,000</string>
		<key>AttyName</key>
		<string>CARLISLE  McNELLIE RINI</string>
		<key>AttyPhone</key>
		<string>216-360-7200</string>
		<key>CaseNO</key>
		<string>A1306953</string>
		<key>MinBid</key>
		<string>$46,000</string>
		<key>Name</key>
		<string>MEECE, TIMOTHY</string>
		<key>Plaintiff</key>
		<string>HUNTINGTON NATIONAL BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>8013 STILLWELL RD</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>CARLISLE  McNELLIE RINI</string>
		<key>AttyPhone</key>
		<string>216-360-7200</string>
		<key>CaseNO</key>
		<string>A1306818</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>MILLER, KATHY</string>
		<key>Plaintiff</key>
		<string>FIFTH THIRD MORTGAGE COMPANY</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3118 SOVEREIGN DR</string>
		<key>Appraisal</key>
		<string>$108,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1301573</string>
		<key>MinBid</key>
		<string>$72,000</string>
		<key>Name</key>
		<string>MIRIZZI, JOHN</string>
		<key>Plaintiff</key>
		<string>BANK OF NY MELLON</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1531 AMBROSE AVE</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1301409</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string>MOORE, ARETHA</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1172 HOLLYWOOD AVE</string>
		<key>Appraisal</key>
		<string>$114,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1305047</string>
		<key>MinBid</key>
		<string>$76,000</string>
		<key>Name</key>
		<string>MOOREHEAD, JOYCE</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2411 HOMESTEAD PL</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1303324</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>MORRISON, ERIC</string>
		<key>Plaintiff</key>
		<string>HSBC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1298 RUTLEDGE AVE</string>
		<key>Appraisal</key>
		<string>$51,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1301906</string>
		<key>MinBid</key>
		<string>$34,000</string>
		<key>Name</key>
		<string>MOSLEY, DENISE</string>
		<key>Plaintiff</key>
		<string>NATIONSTAR MORTGAGE LLC
NATIONSTAR MORTGAGE LLC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>713 WALNUT ST</string>
		<key>Appraisal</key>
		<string>$60,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1200321</string>
		<key>MinBid</key>
		<string>$40,000</string>
		<key>Name</key>
		<string>NELSON, ELAINE</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>MT HEALTHY</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6035 HEIS TERR</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1209154</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string>NEUHAUS, NANCY</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3045 WESTWOOD NORTHERN BLVD</string>
		<key>Appraisal</key>
		<string>$36,000</string>
		<key>AttyName</key>
		<string>LAURITO &amp; LAURITO</string>
		<key>AttyPhone</key>
		<string>937-743-4878</string>
		<key>CaseNO</key>
		<string>A1207017</string>
		<key>MinBid</key>
		<string>$24,000</string>
		<key>Name</key>
		<string>NIESEN, LAURA</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>8729 SARAHS BEND DR</string>
		<key>Appraisal</key>
		<string>$132,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A0906296</string>
		<key>MinBid</key>
		<string>$88,000</string>
		<key>Name</key>
		<string>OWENS JR, VALENTINO</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4707 WINONA TERR</string>
		<key>Appraisal</key>
		<string>$42,000</string>
		<key>AttyName</key>
		<string>CARLISLE  McNELLIE RINI</string>
		<key>AttyPhone</key>
		<string>216-360-7200</string>
		<key>CaseNO</key>
		<string>A1101114</string>
		<key>MinBid</key>
		<string>$28,000</string>
		<key>Name</key>
		<string>POWELL, LESLIE</string>
		<key>Plaintiff</key>
		<string>BAC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>962 KEMPER MEADOW DR</string>
		<key>Appraisal</key>
		<string>$102,000</string>
		<key>AttyName</key>
		<string>CARLISLE  McNELLIE RINI</string>
		<key>AttyPhone</key>
		<string>216-360-7200</string>
		<key>CaseNO</key>
		<string>A1004824</string>
		<key>MinBid</key>
		<string>$68,000</string>
		<key>Name</key>
		<string>PUGH, TIMOTHY</string>
		<key>Plaintiff</key>
		<string>BAC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>FOREST PARK</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2738 MADISON RD</string>
		<key>Appraisal</key>
		<string>$102,000</string>
		<key>AttyName</key>
		<string>REISENFELD &amp; ASSOC</string>
		<key>AttyPhone</key>
		<string>322-7000</string>
		<key>CaseNO</key>
		<string>A1206870</string>
		<key>MinBid</key>
		<string>$68,000</string>
		<key>Name</key>
		<string>QUINN, KATHLEEN</string>
		<key>Plaintiff</key>
		<string>BANK OF NY MELLON</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3237 STANHOPE AVE</string>
		<key>Appraisal</key>
		<string>$27,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1203042</string>
		<key>MinBid</key>
		<string>$18,000</string>
		<key>Name</key>
		<string>RAMPERSAD, DONASON</string>
		<key>Plaintiff</key>
		<string>PNC BANK N A</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>9270 RANCHILL DR</string>
		<key>Appraisal</key>
		<string>$51,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1303215</string>
		<key>MinBid</key>
		<string>$34,000</string>
		<key>Name</key>
		<string>RECALDE, DARIO</string>
		<key>Plaintiff</key>
		<string>GUARDIAN  SAVINGS BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4603 CRESAP AVE</string>
		<key>Appraisal</key>
		<string>$45,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1203128</string>
		<key>MinBid</key>
		<string>$30,000</string>
		<key>Name</key>
		<string>REGALLIS, MATTHEW</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1125 CHURCH AVE</string>
		<key>Appraisal</key>
		<string>$81,000</string>
		<key>AttyName</key>
		<string>LAURITO &amp; LAURITO</string>
		<key>AttyPhone</key>
		<string>937-743-4878</string>
		<key>CaseNO</key>
		<string>A1304899</string>
		<key>MinBid</key>
		<string>$54,000</string>
		<key>Name</key>
		<string>REID, CARLOS</string>
		<key>Plaintiff</key>
		<string>CITIMORTGAGE</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>GLENDALE</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>4011 ROWAN HILL DR</string>
		<key>Appraisal</key>
		<string>$105,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A0903799</string>
		<key>MinBid</key>
		<string>$70,000</string>
		<key>Name</key>
		<string>ROBERTS, DIANA</string>
		<key>Plaintiff</key>
		<string>DEUTSCHE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>MARIEMONT</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>940 FISCHER LN</string>
		<key>Appraisal</key>
		<string>$84,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1303688</string>
		<key>MinBid</key>
		<string>$56,000</string>
		<key>Name</key>
		<string>RODGERS, RUSSELL</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>6004 BENDER RD</string>
		<key>Appraisal</key>
		<string>$450,000</string>
		<key>AttyName</key>
		<string>JOHN CLUNK</string>
		<key>AttyPhone</key>
		<string>330-436-0300</string>
		<key>CaseNO</key>
		<string>A1303986</string>
		<key>MinBid</key>
		<string>$300,000</string>
		<key>Name</key>
		<string>ROELL, CAROL</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>DELHI TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1047 THUNDERBIRD DR</string>
		<key>Appraisal</key>
		<string>$78,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1303495</string>
		<key>MinBid</key>
		<string>$52,000</string>
		<key>Name</key>
		<string>ROWE, DEANA</string>
		<key>Plaintiff</key>
		<string>BANK OF AMERICA</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3623 NORTHDALE PL</string>
		<key>Appraisal</key>
		<string>$72,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1200625</string>
		<key>MinBid</key>
		<string>$48,000</string>
		<key>Name</key>
		<string>SMITH, STANLEY</string>
		<key>Plaintiff</key>
		<string>BANK OF NY MELLON</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>966 DELHI AVE</string>
		<key>Appraisal</key>
		<string>$39,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1208858</string>
		<key>MinBid</key>
		<string>$26,000</string>
		<key>Name</key>
		<string>SMITH, LINDA</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1345 W KEMPER RD</string>
		<key>Appraisal</key>
		<string>$78,000</string>
		<key>AttyName</key>
		<string>MANLEY DEAS KOCHALSKI</string>
		<key>AttyPhone</key>
		<string>614-220-5611</string>
		<key>CaseNO</key>
		<string>A1306043</string>
		<key>MinBid</key>
		<string>$52,000</string>
		<key>Name</key>
		<string>SMITH, ROBERT</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>FOREST PARK</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>7323 ESTATE CT</string>
		<key>Appraisal</key>
		<string>$42,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1208323</string>
		<key>MinBid</key>
		<string>$28,000</string>
		<key>Name</key>
		<string>SPELLERS, BEVERLY</string>
		<key>Plaintiff</key>
		<string>WELLS  FARGO</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>SPRINGFIELD TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2529 ROOSEVELT AVE</string>
		<key>Appraisal</key>
		<string>$57,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1304145</string>
		<key>MinBid</key>
		<string>$38,000</string>
		<key>Name</key>
		<string>STALEY, REBECCA</string>
		<key>Plaintiff</key>
		<string>P H H MORTGAGE CORP</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>COLERAIN TWSP</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>135 GROVE RD</string>
		<key>Appraisal</key>
		<string>$66,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1109164</string>
		<key>MinBid</key>
		<string>$44,000</string>
		<key>Name</key>
		<string>TATE, ROSIE</string>
		<key>Plaintiff</key>
		<string>J P MORGAN CHASE BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>WOODLAWN</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>5130 GRAFTON AVE</string>
		<key>Appraisal</key>
		<string>$39,000</string>
		<key>AttyName</key>
		<string>CLINE COOK &amp; WEISENBURGER</string>
		<key>AttyPhone</key>
		<string>419-321-6444</string>
		<key>CaseNO</key>
		<string>A1301100</string>
		<key>MinBid</key>
		<string>$26,000</string>
		<key>Name</key>
		<string>TEBBS, JON</string>
		<key>Plaintiff</key>
		<string>KEYBANK NATIONAL ASSOC</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>2272 LOTH ST</string>
		<key>Appraisal</key>
		<string>$48,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1305341</string>
		<key>MinBid</key>
		<string>$32,000</string>
		<key>Name</key>
		<string>THOMAS, MARGARET</string>
		<key>Plaintiff</key>
		<string>HUNTINGTON NATIONAL BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>970 HARKIN DR</string>
		<key>Appraisal</key>
		<string>$39,000</string>
		<key>AttyName</key>
		<string>WELTMAN WEINBERG &amp; REIS</string>
		<key>AttyPhone</key>
		<string>800-910-4249</string>
		<key>CaseNO</key>
		<string>A1304041</string>
		<key>MinBid</key>
		<string>$26,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>IMA FUND I</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>FOREST PARK</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1125 FRANKLIN AVE</string>
		<key>Appraisal</key>
		<string>$57,000</string>
		<key>AttyName</key>
		<string>LERNER SAMPSON ROTHFUSS</string>
		<key>AttyPhone</key>
		<string>241-3100</string>
		<key>CaseNO</key>
		<string>A1300384</string>
		<key>MinBid</key>
		<string>$38,000</string>
		<key>Name</key>
		<string> </string>
		<key>Plaintiff</key>
		<string>CITIMORTGAGE</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>3560 EDEN AVE</string>
		<key>Appraisal</key>
		<string>$30,000</string>
		<key>AttyName</key>
		<string>DENNIS REIMER</string>
		<key>AttyPhone</key>
		<string>440-600-5500</string>
		<key>CaseNO</key>
		<string>A1303201</string>
		<key>MinBid</key>
		<string>$20,000</string>
		<key>Name</key>
		<string>WARD, VALISA</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>CINTI</string>
		<key>WD</key>
		<string></string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1711 CENTERRIDGE AVE</string>
		<key>Appraisal</key>
		<string>$69,000</string>
		<key>AttyName</key>
		<string>FELTY &amp; LEMBRIGHT</string>
		<key>AttyPhone</key>
		<string>216-588-1500</string>
		<key>CaseNO</key>
		<string>A1206918</string>
		<key>MinBid</key>
		<string>$46,000</string>
		<key>Name</key>
		<string>WRIGHT, LISA</string>
		<key>Plaintiff</key>
		<string>U S  BANK</string>
		<key>SaleDate</key>
		<string>2/6/2014</string>
		<key>Township</key>
		<string>N C H</string>
		<key>WD</key>
		<string></string>
	</dict>
</array>
</plist>
